/* AGREGAR TIPOGRAFIA */

body{
width: 100%;
min-height: 100vh;
background:url(../img/steven-kamenar-MMJx78V7xS8-unsplash.jpg) ; 
background-size: cover;
box-sizing: border-box;
margin: 0;
padding: 0;
}

section{ 
    width: 90%;
    max-width: 1350px;
    margin: 8% auto;
    border: 1px solid #69acd3;
    background: #1e1f1e91;
    text-align: center;
    padding: 30px 30px 60px 30px;
}

h1{
    color: #ffffff;
    font-size: 60px;
}

h2{
    color: #1a299c;
    font-size: 25px;
}

p{
    color: #69aed3;
    font-size: 15px;
}

button{
    background: transparent;
    border: 2px solid #699cd3;
    padding: 10px 30px;
    margin: 10px;
    color: #ffffff;
}

button:hover{
    background: #1e1f1e84;
    color: #69a5d3;
    border: 2px solid #ffffff;
    border-radius: 8px;
}